*,
*::before,
*::after {
	box-sizing: border-box;
    margin:	0;;
    padding: 0;
}

:root {
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
	margin-top: 0;
}

body {
    width: 100%;
    height: 2100px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(#ffffff, #caf0f8, #ade8f4,#90e0ef,#48cae4,#00b4d8,#0096c7,#0077b6,#023e8a,#03045e)
}

.above-nav-header-img {
    width: 100%;
    margin-bottom: -5px;
}

.above-nav-header-img img {
    width: 100%;
}

/* ---------------------- NavBar -------------------- */ 

.header-navigation-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    padding-left: 0px;
    font-size: 16px;
    font-size: 1.000rem;
    background-color: #000;
}

.header-navigation-flex li {
    list-style-type: none;
    flex: 0 1 auto;
}

.header-navigation-flex a {
    text-decoration: none;
    color: #fff;
}

.header-navigation-flex a:hover {
    text-decoration: none;
    background-color: #00b4d8;
    color: #fff;
}

/* ---------------------- Intro Section -------------------- */ 

.Intro {
    background-color: #fff;
    border: 1px solid #caf0f8;
    border-radius: 25px;
    padding: 25px;
    position: absolute;
    width: 700px;
    height: 1300px;
    top: 50%;
    left: 50%;
    margin-top: 400px;
    margin-left: -350px;
}

.Intro h1 {
    color: #03045e;
    text-align: center;
}

.Intro h2 {
    color: #03045e;
    text-align: center;
}